<h3>Records in db:</h3>

<table class="table table-striped">
<thead>
  <tr>
    <th>id</th>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  <% @results.each do |row| %>
        <tr>
          <th><%= row['id'] %></th>
          <td><a href=<%=row['next_questions_id']%>+2><%= row['question_text'] %></a></td>      
          <td style="background-color: <%= row['color'] %>"><%= row['color'] %></td>
        </tr>
  <% end %>
</tbody>
</table>