<% params.each do |key, value| %>
	<p> "Key:<%=key%>, value:<%=value%>"</p>
<% end %>
next question id = '<%= @next_question %>''<br>
text to panel = '<%= @text_to_panel %>''<br>
hint panel = '<%= @hint_panel %>''<br>

id = '<%= @id %>''<br>

