<!-- <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head> -->

<body>
<div class="container">
<h4>History:</h4>

<div class="row">
      <!-- history panel -->
      

      <% if @history != nil %>
      <div style="padding-top: 40px;" class=" col-sm-4">
            <div class="list-group">
              <% @history.each_with_index do |theme, index|%>
                  <!-- <a href="<%=index %>" class="list-group-item list-group-item-action"><%=theme%></a> -->

                  <script type="text/javascript">
                      document.write('<a href="s" class="list-group-item list-group-item-action">', sessionStorage.history, '</a>');
                  </script>

              <% end %>
            </div>
      </div>
      <% end %>

      <!-- questions form -->
      <div class="col-sm-8">

      <% if @el != nil %>
        <p><%= @el['question_text']%></p>
      <form action="/<%=@theme_id%>" method="post">
        <div class="custom-controls-stacked">
          <div name="ans" class="list-group">
                  <input type="hidden" name="question_text" value="<%= @el['question_text'] %>"> 
                  
                  <script type="text/javascript">
                    if (sessionStorage.history != null){ 
                      sessionStorage.history = sessionStorage.history + '<br>' + "<%= @el['question_text'] %>"; 
                    } else{
                    sessionStorage.history = "<%= @el['question_text'] %>";};
                  </script>

            <%  if @answers != nil then @answers.each do |row| %>
              <% if row['question_id'].to_i == 0 %>
              <li class="list-group-item">
                <label class="custom-control custom-radio">
                  <input value=<%= row['next_question_id']%> id="radioStacked1" name="radio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"><%= row['answer_text'] %></span>
                </label>  
              </li>
              <% end %>
            <% end %>
            <% end %>
          </div>
        </div>
        <p></p>
        <button type="submit" class="btn btn-success">Далее -></button>
      </form>
      <% end %>



      </div>
    </div>

</body>

<style>
#search {
    width:90%;
}

.searchicon {
    color:#5CB85C;
}

.items-collection{
    margin:20px 0 0 0;
}
.items-collection label.btn-default.active{
    background-color:#007ba7;
    color:#FFF;
}
.items-collection label.btn-default{
    width:90%;
    border:1px solid #305891;
    margin:5px; 
    border-radius: 17px;
    color: #305891;
}
.items-collection label .itemcontent{
    width:100%;
}
.items-collection .btn-group{
    width:90%
}
</style>